@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-check {
    background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  }
  .bg-mobile-light {
    background-image: url(/bg-mobile-light.jpg);
    background-color: #fafafa;

    height: 230px; /* Set the desired height */

    background-size: cover; /* Set the width to auto and height to 100% */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    background-position: center;
  }
  .bg-mobile-dark {
    background-image: url(/bg-mobile-dark.jpg);
    background-color: hsl(235, 21%, 11%);

    height: 230px; /* Set the desired height */

    background-size: cover; /* Set the width to auto and height to 100% */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    background-position: center;
  }
  .bg-main-light {
    background-image: url(/bg-desktop-light.jpg);
    background-color: #fafafa;
    height: 200px; /* Set the desired height */

    background-size: cover; /* Set the width to auto and height to 100% */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    background-position: center;
  }
  .bg-main-dark {
    height: 200px; /* Set the desired height */

    background-size: cover; /* Set the width to auto and height to 100% */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    background-position: center;
    background-image: url(/bg-desktop-dark.jpg);

    background-color: hsl(235, 21%, 11%);
  }
}

/*
 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

*/
